<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Get news from any website" />
    <meta name="keywords" content="news, newsful, newsful news" />
    <meta name="author" content="Siddhesh Agarwal" />

    <meta property='og:title' content='Newsful News' />
    <meta property='og:image' content="{{ url_for('static', filename='logo.png') }}" />
    <meta property='og:description' content='Get news from any website' />
    <meta property='og:url' content='https://newsful-news.onrender.com/' />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@newsfulnews" />
    <meta name="twitter:creator" content="@Siddhesh0205" />
    <meta name="twitter:title" content="Newsful News" />
    <meta name="twitter:description" content="Get news from any website" />
    <meta name="twitter:image" content="{{ url_for('static', filename='logo.png') }}" />

    <title>Newsful News</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png" />
</head>

<body>
    <div class="flex justify-center">
        <form method="post">
            <input type="text" name="url" id="url" class="border-2 border-gray-300 p-2 rounded-lg w-half"
                placeholder="Enter url" value= {{url}}>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg">Submit</button>
        </form>
    </div>
    <div id="news-container">
        {% if news %}
            <h1>News</h1>
            {% if src %}
                <img alt="News header" src={{src}} />
            {% endif %}
            {% for item in news %}
                <p>{{ item }}</p>
            {% endfor %}
        {% endif %}

    </div>
</body>

</html>
